<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<style>
    
</style>

<body class="pattern-batik-kawung min-h-screen p-10">
    <div class="bg-white/80 backdrop-blur-sm p-6 rounded-xl shadow-lg border border-gray-200">
        <h1 class="text-xl font-bold">Motif Batik Kawung</h1>
        <p class="text-gray-600">Terlihat seperti irisan buah aren atau kolang-kaling.</p>
    </div>
</body>
</html>